.VerticalLayout {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.HorizontalLayout {
    display: flex;
    box-sizing: border-box;
}
.top {
    align-items: start;
}
.top-center {
    align-items: center;
    justify-content: start;
}
.bottom {
    align-items: end;
}
.left {
    justify-content: start;
    width: 100%;
}
.right {
    justify-content: end;
    width: 100%;
}
.center {
    align-items: center;
    justify-content: center;
}
.space-between {
    justify-content: space-between;
}

.bgw {
    background-color: #fff;
}
.bgbl {
    background-color: #232323;
}
.space-around {
    justify-content: space-around;
}
.h100 {
    height: 100%;
}
.h140 {
    height: 140vh;
}
.hh100 {
    height: 100vh;
}
.hh95 {
    height: 95vh;
}
.hauto {
    height: auto;
}



.padding-vertical-5 {
    padding: 5px 0px;
}

.padding-vertical-10 {
    padding: 10px 0px;
}

.padding-vertical-15 {
    padding: 15px 0px;
}

.padding-vertical-20 {
    padding: 20px 0px;
}

.padding-vertical-25 {
    padding: 25px 0px;
}

.padding-vertical-30 {
    padding: 30px 0px;
}

.padding-vertical-35 {
    padding: 35px 0px;
}

.padding-vertical-40 {
    padding: 40px 0px;
}

.padding-vertical-45 {
    padding: 45px 0px;
}

.padding-vertical-50 {
    padding: 50px 0px;
}

.padding-vertical-55 {
    padding: 55px 0px;
}

.padding-vertical-60 {
    padding: 60px 0px;
}

.padding-vertical-65 {
    padding: 65px 0px;
}

.padding-vertical-70 {
    padding: 70px 0px;
}

.padding-vertical-75 {
    padding: 75px 0px;
}

.padding-vertical-80 {
    padding: 80px 0px;
}

.padding-vertical-85 {
    padding: 85px 0px;
}

.padding-vertical-90 {
    padding: 90px 0px;
}

.padding-vertical-95 {
    padding: 95px 0px;
}

.padding-vertical-100 {
    padding: 100px 0px;
}

.padding-vertical-105 {
    padding: 105px 0px;
}

.padding-vertical-110 {
    padding: 110px 0px;
}

.padding-vertical-115 {
    padding: 115px 0px;
}

.padding-vertical-120 {
    padding: 120px 0px;
}

.padding-vertical-125 {
    padding: 125px 0px;
}

.padding-vertical-130 {
    padding: 130px 0px;
}

.padding-vertical-135 {
    padding: 135px 0px;
}

.padding-vertical-140 {
    padding: 140px 0px;
}

.padding-vertical-145 {
    padding: 145px 0px;
}

.padding-vertical-150 {
    padding: 150px 0px;
}
.padding-vertical-155 {
    padding: 155px 0px;
}

.padding-vertical-160 {
    padding: 160px 0px;
}

.padding-vertical-165 {
    padding: 165px 0px;
}

.padding-vertical-170 {
    padding: 170px 0px;
}

.padding-vertical-175 {
    padding: 175px 0px;
}

.padding-vertical-180 {
    padding: 180px 0px;
}

.padding-vertical-185 {
    padding: 185px 0px;
}

.padding-vertical-190 {
    padding: 190px 0px;
}

.padding-vertical-195 {
    padding: 195px 0px;
}

.padding-vertical-200 {
    padding: 200px 0px;
}

.padding-vertical-205 {
    padding: 205px 0px;
}

.padding-vertical-210 {
    padding: 210px 0px;
}

.padding-vertical-215 {
    padding: 215px 0px;
}

.padding-vertical-220 {
    padding: 220px 0px;
}

.padding-vertical-225 {
    padding: 225px 0px;
}

.padding-vertical-230 {
    padding: 230px 0px;
}

.padding-vertical-235 {
    padding: 235px 0px;
}

.padding-vertical-240 {
    padding: 240px 0px;
}

.padding-vertical-245 {
    padding: 245px 0px;
}

.padding-vertical-250 {
    padding: 250px 0px;
}




.mth5 {
    margin-top: 5vh;
}

.mth10 {
    margin-top: 10vh;
}

.mth15 {
    margin-top: 15vh;
}

.mth20 {
    margin-top: 20vh;
}

.mth25 {
    margin-top: 25vh;
}

.mth30 {
    margin-top: 30vh;
}

.mth35 {
    margin-top: 35vh;
}

.mth40 {
    margin-top: 40vh;
}

.mth45 {
    margin-top: 45vh;
}

.mth50 {
    margin-top: 50vh;
}

.mth55 {
    margin-top: 55vh;
}

.mth60 {
    margin-top: 60vh;
}

.mth65 {
    margin-top: 65vh;
}

.mth70 {
    margin-top: 70vh;
}

.mth75 {
    margin-top: 75vh;
}

.mth80 {
    margin-top: 80vh;
}

.mth85 {
    margin-top: 85vh;
}

.mth90 {
    margin-top: 90vh;
}

.mth95 {
    margin-top: 95vh;
}

.mth100 {
    margin-top: 100vh;
}

.mth105 {
    margin-top: 105vh;
}

.mth110 {
    margin-top: 110vh;
}

.mth115 {
    margin-top: 115vh;
}

.mth120 {
    margin-top: 120vh;
}

.mth125 {
    margin-top: 125vh;
}

.mth130 {
    margin-top: 130vh;
}

.mth135 {
    margin-top: 135vh;
}

.mth140 {
    margin-top: 140vh;
}

.mth145 {
    margin-top: 145vh;
}

.mth150 {
    margin-top: 150vh;
}

.mth155 {
    margin-top: 155vh;
}

.mth160 {
    margin-top: 160vh;
}

.mth165 {
    margin-top: 165vh;
}

.mth170 {
    margin-top: 170vh;
}

.mth175 {
    margin-top: 175vh;
}

.mth180 {
    margin-top: 180vh;
}

.mth185 {
    margin-top: 185vh;
}

.mth190 {
    margin-top: 190vh;
}

.mth195 {
    margin-top: 195vh;
}

.mth200 {
    margin-top: 200vh;
}







.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.mt35 {
    margin-top: 35px;
}

.mt40 {
    margin-top: 40px;
}

.mt45 {
    margin-top: 45px;
}

.mt50 {
    margin-top: 50px;
}

.mt55 {
    margin-top: 55px;
}

.mt60 {
    margin-top: 60px;
}

.mt65 {
    margin-top: 65px;
}

.mt70 {
    margin-top: 70px;
}

.mt75 {
    margin-top: 75px;
}

.mt80 {
    margin-top: 80px;
}

.mt85 {
    margin-top: 85px;
}

.mt90 {
    margin-top: 90px;
}

.mt95 {
    margin-top: 95px;
}

.mt100 {
    margin-top: 100px;
}

.mt105 {
    margin-top: 105px;
}

.mt110 {
    margin-top: 110px;
}

.mt115 {
    margin-top: 115px;
}

.mt120 {
    margin-top: 120px;
}

.mt125 {
    margin-top: 125px;
}

.mt130 {
    margin-top: 130px;
}

.mt135 {
    margin-top: 135px;
}

.mt140 {
    margin-top: 140px;
}

.mt145 {
    margin-top: 145px;
}

.mt150 {
    margin-top: 150px;
}

.mt155 {
    margin-top: 155px;
}

.mt160 {
    margin-top: 160px;
}

.mt165 {
    margin-top: 165px;
}

.mt170 {
    margin-top: 170px;
}

.mt175 {
    margin-top: 175px;
}

.mt180 {
    margin-top: 180px;
}

.mt185 {
    margin-top: 185px;
}

.mt190 {
    margin-top: 190px;
}

.mt195 {
    margin-top: 195px;
}

.mt200 {
    margin-top: 200px;
}





.m5 {
    margin: 5px;
}

.m10 {
    margin: 10px;
}

.m15 {
    margin: 15px;
}

.m20 {
    margin: 20px;
}

.m25 {
    margin: 25px;
}

.m30 {
    margin: 30px;
}

.m35 {
    margin: 35px;
}

.m40 {
    margin: 40px;
}

.m45 {
    margin: 45px;
}

.m50 {
    margin: 50px;
}

.m55 {
    margin: 55px;
}

.m60 {
    margin: 60px;
}

.m65 {
    margin: 65px;
}

.m70 {
    margin: 70px;
}

.m75 {
    margin: 75px;
}

.m80 {
    margin: 80px;
}

.m85 {
    margin: 85px;
}

.m90 {
    margin: 90px;
}

.m95 {
    margin: 95px;
}

.m100 {
    margin: 100px;
}

.m105 {
    margin: 105px;
}

.m110 {
    margin: 110px;
}

.m115 {
    margin: 115px;
}

.m120 {
    margin: 120px;
}

.m125 {
    margin: 125px;
}

.m130 {
    margin: 130px;
}

.m135 {
    margin: 135px;
}

.m140 {
    margin: 140px;
}

.m145 {
    margin: 145px;
}

.m150 {
    margin: 150px;
}

.m155 {
    margin: 155px;
}

.m160 {
    margin: 160px;
}

.m165 {
    margin: 165px;
}

.m170 {
    margin: 170px;
}

.m175 {
    margin: 175px;
}

.m180 {
    margin: 180px;
}

.m185 {
    margin: 185px;
}

.m190 {
    margin: 190px;
}

.m195 {
    margin: 195px;
}

.m200 {
    margin: 200px;
}







.w5 {
    width: 5%;
}

.w10 {
    width: 10%;
}

.w15 {
    width: 15%;
}

.w20 {
    width: 20%;
}

.w25 {
    width: 25%;
}

.w30 {
    width: 30%;
}

.w35 {
    width: 35%;
}

.w40 {
    width: 40%;
}

.w45 {
    width: 45%;
}

.w50 {
    width: 50%;
}

.w55 {
    width: 55%;
}

.w60 {
    width: 60%;
}

.w65 {
    width: 65%;
}

.w70 {
    width: 70%;
}

.w75 {
    width: 75%;
}

.w80 {
    width: 80%;
}

.w85 {
    width: 85%;
}

.w90 {
    width: 90%;
}

.w95 {
    width: 95%;
}

.w100 {
    width: 100%;
}



.ww5 {
    width: 5vw;
}

.ww10 {
    width: 10vw;
}

.ww15 {
    width: 15vw;
}

.ww20 {
    width: 20vw;
}

.ww25 {
    width: 25vw;
}

.ww30 {
    width: 30vw;
}

.ww35 {
    width: 35vw;
}

.ww40 {
    width: 40vw;
}

.ww45 {
    width: 45vw;
}

.ww50 {
    width: 50vw;
}

.ww55 {
    width: 55vw;
}

.ww60 {
    width: 60vw;
}

.ww65 {
    width: 65vw;
}

.ww70 {
    width: 70vw;
}

.ww75 {
    width: 75vw;
}

.ww80 {
    width: 80vw;
}

.ww85 {
    width: 85vw;
}

.ww90 {
    width: 90vw;
}

.ww95 {
    width: 95vw;
}

.ww100 {
    width: 100vw;
}



.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.padding-15 {
    padding: 15px;
}

.padding-20 {
    padding: 20px;
}

.padding-25 {
    padding: 25px;
}

.padding-30 {
    padding: 30px;
}

.padding-35 {
    padding: 35px;
}

.padding-40 {
    padding: 40px;
}

.padding-45 {
    padding: 45px;
}

.padding-50 {
    padding: 50px;
}

.padding-55 {
    padding: 55px;
}

.padding-60 {
    padding: 60px;
}

.padding-65 {
    padding: 65px;
}

.padding-70 {
    padding: 70px;
}

.padding-75 {
    padding: 75px;
}

.padding-80 {
    padding: 80px;
}

.padding-85 {
    padding: 85px;
}

.padding-90 {
    padding: 90px;
}

.padding-95 {
    padding: 95px;
}

.padding-100 {
    padding: 100px;
}

.padding-105 {
    padding: 105px;
}

.padding-110 {
    padding: 110px;
}

.padding-115 {
    padding: 115px;
}

.padding-120 {
    padding: 120px;
}

.padding-125 {
    padding: 125px;
}

.padding-130 {
    padding: 130px;
}

.padding-135 {
    padding: 135px;
}

.padding-140 {
    padding: 140px;
}

.padding-145 {
    padding: 145px;
}

.padding-150 {
    padding: 150px;
}





.padding-top-5 {
    padding-top: 5px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-top-20 {
    padding-top: 20px;
}
.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-top-25 {
    padding-top: 25px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-top-35 {
    padding-top: 35px;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-top-45 {
    padding-top: 45px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-top-55 {
    padding-top: 55px;
}

.padding-top-60 {
    padding-top: 60px;
}

.padding-top-65 {
    padding-top: 65px;
}

.padding-top-70 {
    padding-top: 70px;
}

.padding-top-75 {
    padding-top: 75px;
}

.padding-top-80 {
    padding-top: 80px;
}

.padding-top-85 {
    padding-top: 85px;
}

.padding-top-90 {
    padding-top: 90px;
}

.padding-top-95 {
    padding-top: 95px;
}

.padding-top-100 {
    padding-top: 100px;
}

.padding-top-105 {
    padding-top: 105px;
}

.padding-top-110 {
    padding-top: 110px;
}

.padding-top-115 {
    padding-top: 115px;
}

.padding-top-120 {
    padding-top: 120px;
}

.padding-top-125 {
    padding-top: 125px;
}

.padding-top-130 {
    padding-top: 130px;
}

.padding-top-135 {
    padding-top: 135px;
}

.padding-top-140 {
    padding-top: 140px;
}

.padding-top-145 {
    padding-top: 145px;
}

.padding-top-150 {
    padding-top: 150px;
}



.padding-horizontal-5 {
    padding: 0px 5px;
}

.padding-horizontal-10 {
    padding: 0px 10px;
}

.padding-horizontal-15 {
    padding: 0px 15px;
}

.padding-horizontal-20 {
    padding: 0px 20px;
}

.padding-horizontal-25 {
    padding: 0px 25px;
}

.padding-horizontal-30 {
    padding: 0px 30px;
}

.padding-horizontal-35 {
    padding: 0px 35px;
}

.padding-horizontal-40 {
    padding: 0px 40px;
}

.padding-horizontal-45 {
    padding: 0px 45px;
}

.padding-horizontal-50 {
    padding: 0px 50px;
}

.padding-horizontal-55 {
    padding: 0px 55px;
}

.padding-horizontal-60 {
    padding: 0px 60px;
}

.padding-horizontal-65 {
    padding: 0px 65px;
}

.padding-horizontal-70 {
    padding: 0px 70px;
}

.padding-horizontal-75 {
    padding: 0px 75px;
}

.padding-horizontal-80 {
    padding: 0px 80px;
}

.padding-horizontal-85 {
    padding: 0px 85px;
}

.padding-horizontal-90 {
    padding: 0px 90px;
}

.padding-horizontal-95 {
    padding: 0px 95px;
}

.padding-horizontal-100 {
    padding: 0px 100px;
}

.padding-horizontal-105 {
    padding: 0px 105px;
}

.padding-horizontal-110 {
    padding: 0px 110px;
}

.padding-horizontal-115 {
    padding: 0px 115px;
}

.padding-horizontal-120 {
    padding: 0px 120px;
}

.padding-horizontal-125 {
    padding: 0px 125px;
}

.padding-horizontal-130 {
    padding: 0px 130px;
}

.padding-horizontal-135 {
    padding: 0px 135px;
}

.padding-horizontal-140 {
    padding: 0px 140px;
}

.padding-horizontal-145 {
    padding: 0px 145px;
}

.padding-horizontal-150 {
    padding: 0px 150px;
}





.gap5 {
    gap: 5px;
}

.gap10 {
    gap: 10px;
}

.gap15 {
    gap: 15px;
}

.gap20 {
    gap: 20px;
}

.gap25 {
    gap: 25px;
}

.gap30 {
    gap: 30px;
}

.gap35 {
    gap: 35px;
}

.gap40 {
    gap: 40px;
}

.gap45 {
    gap: 45px;
}

.gap50 {
    gap: 50px;
}

.gap55 {
    gap: 55px;
}

.gap60 {
    gap: 60px;
}

.gap65 {
    gap: 65px;
}

.gap70 {
    gap: 70px;
}

.gap75 {
    gap: 75px;
}

.gap80 {
    gap: 80px;
}

.gap85 {
    gap: 85px;
}

.gap90 {
    gap: 90px;
}

.gap95 {
    gap: 95px;
}

.gap100 {
    gap: 100px;
}

.gap105 {
    gap: 105px;
}

.gap110 {
    gap: 110px;
}

.gap115 {
    gap: 115px;
}

.gap120 {
    gap: 120px;
}

.gap125 {
    gap: 125px;
}

.gap130 {
    gap: 130px;
}

.gap135 {
    gap: 135px;
}

.gap140 {
    gap: 140px;
}

.gap145 {
    gap: 145px;
}

.gap150 {
    gap: 150px;
}

.br-12 {
    border-radius: 12px;
}
.br-20 {
    border-radius: 20px;
}